*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times;
}

.main__page{
    height: 100%;
    width: auto;
    background-position: center;
    background-size: cover;
    background-image:url(images/background.jpg);
}

body{
    background-image:linear-gradient(rgba(5,0,136,0.5),rgba(5,0,135,0.5)),url(images/background.jpg);
    
}

.main__text{
    margin-top: 10%;
    margin-left: 25%;
    
}

.main__text h1{
    color: white;
    font-size: 350%;
    font-weight: 300;
}

.main__text p{
    color: white;
    font-size: large;
}

.main__images{
    margin-left: 25%;
    margin-right: auto;
    display: block;
}

.img1_animation{
    animation: slideright 1.5s linear forwards;
}

.img2_animation{
    animation: slideleft 1.5s linear forwards;
}

.animation{
    animation: slideleftflip 1s linear forwards;
}

@keyframes slideright {
    0%{
        transform: translate(-1000px);
        opacity: 0%;
    }
    100%{
        transform: translate(0px);
        opacity: 100%;
    }
}

@keyframes slideleft{
    0%{
        transform: translate(1000px);
        opacity: 0%;

    }
    100%{
        transform: translate(0px);
        opacity: 100%;
    }
}


@keyframes slideleftflip{
    0%{
        transform: translate(100px);
        transform: rotate(180deg);
        opacity: 0%;
    }
    100%{
        transform: translate(0px);
        transform: rotate(0deg);
        opacity: 100%;
    }
}

.navbar{
    background: #13131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
}

.navbar__container{
    background-color: #3d121c;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#nav__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size:100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}



.fa-gem{
    margin-right: 0.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: rgba(255, 208, 0, 0.452);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: coral;
}

.button:hover{
    color:white;
    transition: all, 0.5 ease;
}

.navbar__links:hover{
    color:darkgreen;
    transition: all 0.4s ease;
}
/* The Following code pertains to the Train.html styling*/

#train__grid{
    display: grid;
    
}

.train__grid{
    display: grid; grid-template-columns: auto auto auto;
}
div.cell{
    background-color: lightblue;
}

/*The Following code pertains to the styling of releases.html*/
#upcoming__grid{
    display: grid;
}
.upcoming__grid{
    display: grid; grid-template-columns: auto auto;
}


/*The Following code pertains to the styling of the login.html*/

